<app-barra-menu></app-barra-menu>
<p-toast></p-toast>

<p-panel id="panelBasic" header="Change password">

    <div class="p-grid p-justify-end">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success p-mr-2" (click)="onSave()"></button>
        <button pButton pRipple label="Clean" icon="pi pi-star-o" class="p-button-primary p-mr-2" (click)="onClean()"></button>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary p-mr-2" routerLink="/"></button>
    </div> 

    <div class="p-fluid p-formgrid">
        <div class="p-col-10">
            <p>As minimum requirements for user passwords, the following should be considered:</p>
            <ul>
                <li>Minimum length of 8 characters;</li>
                <li>Presence of at least 3 of the 4 character classes below:
                    <ul>
                        <li>uppercase characters;</li>
                        <li>lowercase characters;</li>
                        <li>numbers;</li>
                        <li>special characters;</li>
                        <li>Absence of strings (eg: 1234) or consecutive identical characters (yyyy);</li>
                        <li>Absence of any username identifier, such as: John Silva - user: john.silva - password cannot contain "john" or "silva".</li>
                    </ul>
                </li>
            </ul>
        </div>	
        <div class="p-field p-lg-4 p-md-6 p-sm-12">
            <label for="currentPassword">Current password:</label>
            <p-password id="currentPassword" [(ngModel)]="admUser.currentPassword" required [feedback]="false" maxlength="10"></p-password>
            <small class="p-error" *ngIf="submitted && !admUser.currentPassword">Current password is required.</small>
        </div>
        <div class="p-field p-lg-4 p-md-6 p-sm-12">
            <label for="newPassword">New password:</label>
            <p-password id="newPassword" [(ngModel)]="admUser.newPassword" required [feedback]="false" maxlength="10"></p-password>
            <small class="p-error" *ngIf="submitted && !admUser.newPassword">New password is required.</small>
        </div>
        <div class="p-field p-lg-4 p-md-6 p-sm-12">
            <label for="confirmNewPassword">Confirm new password:</label>
            <p-password id="confirmNewPassword" [(ngModel)]="admUser.confirmNewPassword" required [feedback]="false" maxlength="10"></p-password>
            <small class="p-error" *ngIf="submitted && !admUser.confirmNewPassword">Confirm new password is required.</small>
        </div>
    </div>

</p-panel>
<br>
<br>
<br>