<app-barra-menu></app-barra-menu>
<p-panel id="panelBasic" header="User">

    <div class="p-grid p-justify-end">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success p-mr-2" (click)="onSave()"></button>
        <button pButton pRipple label="Clean" icon="pi pi-star-o" class="p-button-primary p-mr-2" (click)="onClean()"></button>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary p-mr-2" routerLink="/admUser"></button>
    </div> 

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-2 p-md-2">
            <label for="active" style="margin: 4px;">Active:</label>
            <p-checkbox id="active" [(ngModel)]="admUser.active" binary="true" inputId="active"></p-checkbox>    
        </div>    
        <div class="p-field p-col-12">
            <label for="email">E-mail:</label>
            <input type="text" pInputText id="email" [(ngModel)]="admUser.email" required />
            <small class="p-error" *ngIf="submitted && !admUser.email">Email is required.</small>
        </div>
        <div class="p-field p-col-12">
            <label for="login">Login:</label>
            <input type="text" pInputText id="login" [(ngModel)]="admUser.login" required />
            <small class="p-error" *ngIf="submitted && !admUser.login">Login is required.</small>
        </div>
        <div class="p-field p-col-12">
            <label for="name">Name:</label>
            <input type="text" pInputText id="name" [(ngModel)]="admUser.name" required />
            <small class="p-error" *ngIf="submitted && !admUser.name">Name is required.</small>
        </div>
        <div class="p-field p-col-12 p-md-8">
            <label for="userProfiles">User profile(s):</label>

            <p-pickList [source]="sourceProfiles" [target]="targetProfiles" sourceHeader="Available" targetHeader="Selected" [dragdrop]="true"
                [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}" filterBy="description"
                sourceFilterPlaceholder="Search by description" targetFilterPlaceholder="Search by description">
                <ng-template let-profile pTemplate="item">
                    <div class="profile-item">
                        <div>{{profile.description}}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
    </div>

</p-panel>
