<app-barra-menu></app-barra-menu>

<p-panel id="panelBasic" header="Configuration Parameter Category">

    <div class="p-grid p-justify-end">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success p-mr-2"></button>
        <button pButton pRipple label="Clean" icon="pi pi-star-o" class="p-button-primary p-mr-2" (click)="onClean()"></button>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary p-mr-2" routerLink="/admin/admParameterCategory"></button>
    </div> 

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="admParameterCategory.description" required autofocus rows="3" cols="20"></textarea>
            <small class="p-error" *ngIf="submitted && !admParameterCategory.description">Description is required.</small>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="order">Order</label>
            <p-inputNumber id="order" [(ngModel)]="admParameterCategory.order"></p-inputNumber>
        </div>
    </div>

</p-panel>
